<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row" style="margin-bottom:15px;">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="listFilter" />
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <button class="btn btn-primary mr-3" [routerLink]="['/postings/0/0/edit']">
          <i class="fa fa-plus"></i> New Posting
        </button>
      </div>
    </div>
    <div class="row" *ngIf="listFilter">
      <div class="col-md-6">
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table mb-0" *ngIf="postings && postings.length">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Company</th>
            <th>Designation</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let posting of filteredPostings">
            <td>
              <a [routerLink]="['/postings', posting.id,posting.cityname]">
                {{ posting.name }}
              </a>
            </td>
            <td>{{ posting.address }}</td>
            <td>{{ posting.gender }}</td>
            <td>{{ posting.company }}</td>
            <td>{{ posting.designation}} </td>
            <td>
              <button class="btn btn-outline-primary btn-sm"
                [routerLink]="['/postings', posting.id, posting.cityname, 'edit']">
                <i class="fa fa-edit"></i> Edit
              </button>
            </td>
            <td>
              <button class="btn btn-outline-warning btn-sm"
                (click)="deletePosting(posting.id,  posting.name,posting.cityname);">
                <i class="fa fa-trash"></i> Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>